.scoreboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20rem;
    font-size: 1.5em;
    background-color: white;
    margin: 1rem auto;
    box-shadow: 0px 0px 8px #888;
    border-radius: 0.5rem;
    font-weight: bold;
}

.score {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.x-score {
    color: red;
    border-bottom: 5px solid red;
    border-radius: 0.5rem 0 0 0.5rem;
}

.o-score {
    color: lightblue;
    border-bottom: 5px solid lightblue;
    border-radius: 0 0.5rem 0.5rem 0.5;
}

.inactive {
    border-bottom: 5px solid transparent;
}